
/* 
 * Base
 */

 	.block {

 	}

/*
 * Theme
 */

 	.block--ovenpart {
		width: 82.5vw;
		max-width: 1007px;
		margin: 0 auto;
		padding: 10px;
		background-color: white;
		background-image:
			url('../img/oven-border-left.jpg'),
			url('../img/oven-border-right.jpg');
		background-repeat: repeat-y, repeat-y;
		background-position: left -5px top, right -5px top;
		background-position: left -0.5vw top,right -0.5vw top;
		background-size: 1.3vw;

		@include media-query(lap) {
			width: 83.8vw;
		}

		@include media-query(desk) {
			background-position: left -5px top,right -5px top;
			background-size: 0.8vw;
		}
	}

/* 
 * Unique
 */

 	.block--hellobar {
 		position: fixed;
 		top: 0;
 		left: 0;
 		z-index: 20;
 		width: 100%;
 		padding: 0.5em;

 		color: white;
 		text-align: center;
 		background: #DB4827;

 		body.logged-in & {
 			position: relative;
 		}

 		a {
 			color: white;
 			text-decoration: underline;
 		}

 		.btn {
 			color: $orange;
 			background: white;
 			text-decoration: none;
 		}
 	}


	.block--header {
		img { display: block; vertical-align: middle; }
	}


	#featured-video {
		padding: 10px 20px;
	}


	#restaurants {
		position: relative;
		padding: 0 3px;

		.view {
			padding: 10px 0 0;
			background: url('../img/oven-horiz-line.png') repeat-x center top;
		}
		
		.view-header {
			padding: 40px 1rem 1rem;
			text-align: center;
			font-size: 1.2rem;
			color: $orange;

			@include media-query(lap-and-up) {
				background: url('../img/oven-vert-line.jpg') repeat-y right -4px top;
			}

			h1 {
				color: $blue;
			}

			p {
				max-width: 40rem;
				margin-left: auto;
				margin-right: auto;
			}
		}

		#year-mark {
			margin-top: 1rem;
		}

		.view-content {
			display: block;
			padding: 60px 1rem 1rem;

			font-size: 1.2rem;
			background: url('../img/oven-horiz-line.png') no-repeat top center;

			@include media-query(lap-and-up) {
				padding-top: 80px;
				padding-top: 7vw;

				font-size: 1.5rem;

				background: url('../img/oven-door-pull.jpg') no-repeat top 20px center;
				background-size: 80% auto;
			}

			@include media-query(desk) {
				font-size: 1.9rem;
			}
		}

		.restaurant--title {
			@include font('hwt');

			&:hover {

				a {
					color: darken($salmon, 10%);
				}
			}

			a {
				padding: 0 5px;
				color: $salmon;
				text-decoration: none;
			}
		}
	}

	.block--social {
		padding: 2rem 1rem 1.8rem;
		text-align: center;
		background: $blue;
		color: white;
		font-size: 1.6em;
	}

	.block--footer {
		position: relative;

		img {
			display: block;
			vertical-align: middle;
		}
	}


