
/* 
 * Base
 */

	.btn {
		padding: 0.3em 0.5em;
		border-radius: $brand_round;
		border: 1px solid $orange;
		color: $orange;

		&:hover {
			background: white;
		}
	}

/*
 * Theme
 */

 .btn--white {
 	color: $orange;
 	background: white;
 }

/* 
 * Unique
 */