.node.menu {
	padding: 2rem;
	background: white;
	background-image: 
		url('../img/oven-horiz-line.png'),
		url('../img/oven-horiz-line.png'),
		url('../img/oven-vert-line.jpg'),
		url('../img/oven-vert-line.jpg');

	background-repeat: 
		repeat-x,
		repeat-x,
		repeat-y,
		repeat-y;

	background-position: 
		top -5px center,
		bottom -5px center,
		left -3px center,
		right -5px center;

	.menu__course {
		margin-bottom: 2rem;
		text-align: center;

		.wrapper {
			max-width: 30rem;
			margin: 0 auto;
		}

		h1 {
			font-size: 1.4em;
		}
	}

	.optionseperator {
		color: $orange;
	}

	footer {
		text-align: center;
	}
}



.restaurant--summary {
	margin-bottom: 2rem;
	text-align: center;

	.restaurant__name {
		margin-bottom: 0;
	}

	.restaurant__phone,
	.restaurant__address {
		display: inline-block;
	}

	.restaurant__phone {
		margin-right: 1em;
	}

	.restaurant__address {

	}
}